@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: pink;
  --foreground: #B03052;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #B03052;
    --foreground: pink;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  margin: 30px 50px;
}
h1{
  font-size: x-large;
  text-decoration: underline;
  padding-bottom: 10px;
}
aside{
  font-size: small;
}
li{
  list-style: circle inside;
  margin-top: 10px;
}
p{
  text-indent: 40px;
}

